*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aquamarine;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    /* padding-top: 100px; */
}

.bar {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p {
    font-family: "Poppions", sans-serif;
}

body {
    color: whitesmoke;
    background-color: rgb(23, 23, 25);
}

.box {
    margin-top: 100px;
}